{if $EDIT_CATEGORY == 1}
        <div class='col-md-6'>
          <div class='box'>
            <div class='box-header'>
              <h3 class='box-title'>Kategorie bearbeiten</h3>
            </div>
		<table class='table'>
			<tr>
				<td>
	<form method="post" name="editCategory" action="admin_panel_manager.php?action=doeditcategory">
		<div class="tableb">Name</div><div class="tablea"><input type="text" name="name" value="{$category.NAME}" /></div>
		<div class="tableb">Kuerzel</div><div class="tablea"><input type="text" name="short" value="{$category.SHORT}" /></div>
		<div class="tableb"><input type="hidden" name="cid" value="{$category.ID}" /><input type="submit" name="submit" value="Abschicken" /></div>
	</form>				
				</td>
			</tr>
		</table>
            </div>
            <!-- /.box-body -->
          </div>
{/if}
{if $EDIT_CATEGORY_DO == 1}
	{if $EMPTY == 1}
        <div class='col-md-6'>
          <div class='box'>
            <div class='box-header'>
              <h3 class='box-title'>Kategorie bearbeiten</h3>
            </div>
		<table class='table'>
			<tr>
				<td>Du musst alle Felder ausfuellen! <a href="admin_panel_manager.php?action=editcategory&cid={$CID}" title="">Zum Formular</a></td>
			</tr>
		</table>
            </div>
            <!-- /.box-body -->
          </div>		
	{/if}
	{if $SUCCESS == 1}
        <div class='col-md-6'>
          <div class='box'>
            <div class='box-header'>
              <h3 class='box-title'>Kategorie erstellen</h3>
            </div>
		<table class='table'>
			<tr>
				<td>Die Kategorie wurde erfolgreich angelegt! <a href="admin_panel_manager.php" title="">Zur Manager Verwaltung</a></td>
			</tr>
		</table>
            </div>
            <!-- /.box-body -->
          </div>
	{/if}
{/if}