
/**
 * TSStatus: Teamspeak 3 viewer for php5
 * @author Sebastien Gerard <sebeuu@gmail.com>
 * @see http://tsstatus.sebastien.me/
 * 
 **/

.tsstatus{
	width: 130px;
	overflow: hidden;
	position: relative;
	float: left;
}
.tsstatus, .tsstatus *{
	font-size: 12px;
	color: gold;
	float: left;
}
.tsstatuserror{
	font-family: Verdana;
	font-size: 10px;
	color: red;
}
.tsstatus .tsstatusNickname{
	border-bottom: 1px solid #aaa;
	padding-bottom: 1px;
	margin-bottom: 1px;
	color: #99CCFF;
}
.tsstatus .tsstatusServerName{
	padding-bottom: 2px;
	margin-bottom: 2px;	
}
.tsstatus input{
	width: 100px;
	height: 14px;
	color: #99CCFF;
}
.tsstatus .tsstatusItem{
	margin-left: 2px;
	padding-bottom: 1px;
	margin-bottom: 1px;
	clear: both;
}
.tsstatus .tsstatusLabel{
	float: left;
}

/* ts zeichen rechts abstand */
.tsstatus .tsstatusFlags{
	float: right;
}
.tsstatus a{
	text-decoration: none;
	color: #99CCFF;
}

/* Farbe beim mousover */
.tsstatus a:hover{
	text-decoration: none;
	color: #9F00CC;
}

/* umrandungen */
.tsstatus img{
	margin-right: 0px;
	border: 0;
}

.fieldset {
border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
 border-color: #010101;
 font-size:11px;
}

.legend {
 color       : #FFFFFF;
 font-weight : bold;
}


